# Fastapi
FASTAPI__SECRET_KEY=superkey
FASTAPI__PROJECT_NAME=UGC
FASTAPI__HOST=notifications_service
FASTAPI__PORT=8001
# POSTGRES
POSTGRES__PASSWORD=123qwe
POSTGRES__USER=app
POSTGRES__DBNAME=notification_database
POSTGRES__HOST=postgres
POSTGRES__PORT=5432
# base_api
BASE_API__PROJECT_NAME=movies_together
BASE_API__HOST=0.0.0.0
BASE_API__PORT=8000
# chat_service
CHAT_SERVICE__PROJECT_NAME=chat_service
CHAT_SERVICE__HOST=0.0.0.0
CHAT_SERVICE__PORT=8001
# video_service
VIDEO_SERVICE__PROJECT_NAME=video_service
VIDEO_SERVICE__HOST=0.0.0.0
VIDEO_SERVICE__PORT=8002
# redis
REDIS__HOST=0.0.0.0
REDIS__PORT=6379
