PROJECT_NAME=movies
PAGE_SIZE=50

# DJANGO
DJANGO_SECRET_KEY=your_secret_key
DJANGO_DEBUG=True
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_PASSWORD=admin
DJANGO_SUPERUSER_EMAIL=admin@mail.com

# DATABASE
POSTGRES__PASSWORD=123qwe
POSTGRES__USER=app
POSTGRES__DBNAME=movies_database
POSTGRES__HOST=db
POSTGRES__PORT=5432

# ELASTIC
ELASTIC__SITE=es01
ELASTIC__PORT=9200
ELASTIC__HOST=http://es01:9200
ELASTIC__INDEX__GENRE=genres
ELASTIC__INDEX__PERSON=persons
ELASTIC__INDEX__FILMWORK=movies
ELASTIC__SLEEP__TIME=30

# REDIS
REDIS__HOST=redis
REDIS__PORT=6379