.video-container {
    display: flex;

    align-items: center;
    justify-content: space-between;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    height: 100vh;
}

.video-container video {
    width: 70%;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

#my-video {
    border: 5px solid gray;
    border-radius: 7px;

}

.chat-box {
    position: relative;
    width: 25%;
    height: 80%;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.chat-box h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.chat-box #messages {
    height: 300px;
    overflow-y: scroll;
    margin-bottom: 20px;
}

.chat-box .message {
    display: flex;
    margin-bottom: 10px;
}

.chat-box .user {
    font-weight: bold;
    margin-right: 5px;
    color: #666;
}

.chat-box .text {
    color: #333;
}

.chat-box #create_message{
    width: 90%;
    display: inline;
    position: absolute;
    bottom: 10px;
}

.chat-box input[type="text"] {
    width: 70%;
    height: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.chat-box button[type="button"] {
    padding: 5px;
    width: 20%;
    height: 40px;
    border: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.chat-box button[type="button"]:hover {
    background-color: #3e8e41;
}
